#container  div {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    height: 200px;
    width: 10px;
    background-color: black;
}
#container {
    margin-top: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;	
}
.disco1 {
    width: 350px;
    height: 50px;
    background: red;
}